<template>
 <main>
  <Menu></Menu>
  <Banner1></Banner1>
  <Footer></Footer>
 </main>
</template>

<script>
import Menu from '@/components/Menu.vue'
import Banner1 from '@/components/Banner1.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'Home',
  components: {
   Menu,
   Banner1,
   Footer
  }
}
</script>
