<template>
 <main>
 <Menu></Menu>
 <Banner></Banner>
 <div class="divider"></div>
 <Table></Table>
 <Footer></Footer>
 </main>
</template>
<script>
import Menu from '@/components/Menu.vue'
import Banner from '@/components/Banner.vue'
import Table from '@/components/Table.vue'
import Footer from '@/components/Footer.vue'
export default {
 name: 'About',
 components: {
  Menu,
  Banner,
  Table,
  Footer
 }
}
</script>
<style scoped lang="scss">
 .divider{
  border-bottom: 1px solid hsl(240, 40, 60);
  padding: 1rem 0;
 }
</style>