<template>
 <b-container>
  <b-row>
   <b-col cols="12">
    <section class="section-1">
     <h1 style="padding-top: 1rem; padding-bottom: 2rem">Sistema Omni - Soluções para livrarias</h1>
     <b-table :fields="fields" :items="items" striped responsive="sm">
      <template #cell(Opções)="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2">
          {{ row.detailsShowing ? 'Esconder' : 'Mostrar'}} Opções
        </b-button>
      </template>

      <template #row-details="">
       <b-card>
        
        <b-container-fluid>
         <b-row>
          <b-col>
           <b-form inline>
            <b-form-group label="Livro">
             <b-form-input type="text" placeholder="Insira o nome do livro."></b-form-input>
            </b-form-group>
            <b-form-group label="Autor">
             <b-form-input type="text" placeholder="Insira o nome do livro."></b-form-input>
            </b-form-group>
            <b-form-group label="Preço">
             <b-form-input type="number" placeholder="Insira o nome do livro."></b-form-input>
            </b-form-group>
            <b-form-group class="button-save-del">
             <b-button-group>
              <b-button variant="danger" class="">Excluir</b-button>
              <b-button variant="success">Salvar</b-button>
             </b-button-group>
            </b-form-group>
           </b-form>
          </b-col>
         </b-row>
        </b-container-fluid>
       </b-card>
      </template>
     </b-table>
    </section>
   </b-col>
  </b-row>
 </b-container>
</template>
<script>
export default {
 name: "Banner",
 data() {
  return {
   fields: ["Livro", "Autor", "Preço (R$)", "Opções"],
   items: [
    {Livro: "Bootstrap 4", Autor: "Natan Souza", "Preço (R$)": "29,90"},
    {Livro: "Turbine seu CSS", Autor: "Rosicléia Frasson", "Preço (R$)": "29,90"},
    {Livro: "SASS", Autor: "Natan Souza", "Preço (R$)": "29,90"},
    {Livro: "A Web Mobile", Autor: "Sérgio Lopes", "Preço (R$)": "29,90"},{Livro: "HTML5 e CSS3", Autor: "Lucas Mazza", "Preço (R$)": "29,90"}
   ],
  }
 },
}
</script>
<style scoped lang="scss">
 .container{
  padding: 1rem;
 }
 .section-1{
  text-align: center;
  color: hsl(240, 40, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
 }
 .section-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
 }
 .button-save-del{
  padding-top: 2rem !important;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
 }
 .form-group{
  text-align: left;
  padding: 0 .25rem;
 }
</style>