<template>
 <b-container>
  <b-row>
   <b-col cols="12" sm="6">
    <section class="section-1">
     <p class="main">Guarde o tempo para quem é importante para você.</p>
     <p class="letter-1">Tenha acesso ao sistema de controle da livraria.</p>
     <p class="letter-2">Execute tarefas de forma rápida e fácil.</p>
     <b-button href="/about" class="button-1">COMEÇE JÁ!</b-button>
    </section>
   </b-col>
   <b-col cols="12" sm="6" style="margin: auto">
    <section class="section-2">
     <img src="../assets/books.svg" alt="" width="250">
    </section>
   </b-col>
  </b-row>
 </b-container>
</template>
<script>
export default {
 name: "Banner"
}
</script>
<style scoped lang="scss">
 .container{
  padding: 1rem;
 }
 .section-1{
  text-align: center;
  color: hsl(240, 40, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  .main{
   margin: 0;
   font-size: 2rem;
   padding-top: 1.5rem;
   padding-bottom: 2.5rem;
  }
  .letter-1{
   font-size: 1.25rem;
   padding: 0.25rem 0;
   margin: 0;
  }
  .letter-2{
   font-size: 1.25rem;
   padding: 0.25rem 0;
   margin-bottom: 2rem;
  }
  .button-1{
   margin: 2rem auto;
   font-weight: 700;
   border-radius: 5px;
   padding: 15px 50px;
   color: #eaeaea;
   background-color: hsl(208,45,60);
   border: 0;
  }
 }
 .section-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
 }
</style>