<template>
 <div class="footer">
  <b-container>
   <b-row>
    <b-col cols="10">
     <b-navbar-brand href="#" class="brand">Omni</b-navbar-brand>
    </b-col>
    <b-col cols="2" class="scroolToTop">
     <b-button variant="primary" @click="scrolltotop()">
      <b-icon icon="chevron-up"></b-icon>
     </b-button>
    </b-col>
   </b-row>
  </b-container>
 </div>
</template>
<script>
export default {
 methods: {
  scrolltotop(){
   window.scrollTo({top: 0, behavior: 'smooth'})
  }
 },
}
</script>
<style scoped lang="scss">
 .footer{
  background-color: hsl(240, 40, 60);
  color: #fafafa;
  margin: auto 0;
 }
 .navbar-brand{
  color: #eaeaea;
  font-size: 2rem;
 }
 .links{
  display: flex;
  justify-content: center;
  align-self: center;
 }
 .scroolToTop{
  display: flex;
  justify-content: center;
  align-self: center;
 }
</style>