<template>
 <div>
  <b-container fluid>
   <b-navbar toggleable="lg" type="light">
     <b-navbar-brand href="/">Omni</b-navbar-brand>
     <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
   </b-navbar>
  </b-container>
 </div>
</template>
<script>
export default {
 name: 'Menu'
}
</script>
<style scoped lang="scss">
 .navbar-brand, .navbar-toggler{
  color: hsl(240, 40, 60);
 }
 .navbar-brand{
  font-size: 2rem;
 }
</style>