<template>
 <div class="container-docs">
  <b-container>
   <b-row>
    <b-col cols="12">
     <b-table :fields="fields" :items="items" striped responsive="sm">
      <template #cell(Opções)="row">
       <b-dropdown id="dropdown-1" text="Opções" class="m-md-2">
        <b-dropdown-item @click="row.toggleDetails" class="mr-2" variant="warning">
         Editar
        </b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item @click="row.toggleDetails" class="mr-2" variant="danger">
         Excluir
        </b-dropdown-item>
       </b-dropdown>
        <!-- <b-button size="sm" @click="row.toggleDetails" class="mr-2">
          {{ row.detailsShowing ? 'Esconder' : 'Mostrar'}} Opções
        </b-button> -->
      </template>

      <template #row-details="">
       <b-card>
        
        <b-container-fluid>
         <b-row>
          <b-col>
           <b-form inline>
            <b-form-group label="Livro">
             <b-form-input type="text" placeholder="Insira o nome do livro." v-model="livro"></b-form-input>
            </b-form-group>
            <b-form-group label="Autor">
             <b-form-input type="text" placeholder="Insira o nome do livro." v-model="autor"></b-form-input>
            </b-form-group>
            <b-form-group label="Preço">
             <b-form-input type="number" placeholder="Insira o nome do livro." v-model="preco"></b-form-input>
            </b-form-group>
            <b-form-group class="button-save-del">
             <b-button-group>
              <b-button variant="danger" class="">Excluir</b-button>
              <b-button variant="success">Salvar</b-button>
             </b-button-group>
            </b-form-group>
           </b-form>
          </b-col>
         </b-row>
        </b-container-fluid>
       </b-card>
      </template>
     </b-table>
    </b-col>
   </b-row>
  </b-container>
 </div>
</template>
<script>
import axios from 'axios'
export default {
 data() {
  return {
   fields: ["Livro", "Autor", "Preço", "Opções"],
   items: []
  }
 },
 mounted() {
  axios.get('http://localhost:3000/livros/')
   .then(response => {
    // let a = response.data
    // this.items.push(a);
    for(let i=0; i < response.data.length;i++){
     let a = response.data[i];
     this.items.push(a);
    }
    // console.log(this.items[0])
   })
   .catch(error => console.log(error))
 },
 beforeCreate() {
  for(let i = 0; i < this.items.length; i++){
   console.log(i)
  }
 },
}
</script>
<style scoped lang="scss">
 .container-docs{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0
 }
 .table{
  margin: 0 auto;
  
 }
</style>