<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>
export default {
 
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 #app{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
 }
</style>
